<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="description" content="Sudoku test">
<meta name="keywords" content="sudoku">
<meta author content="Paola Zarate"> 
<title>Sudoku</title>
<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body ng-app="Sudoku">
	<div ng-controller="SudokuController as SudokuCtrl">
		
		<header id="header">
			<h1>Sudoku</h1>
		</header>

		<div class="content">
			<p class="alert-info" ng-if="message">{{message}}</p>
			<div class="board" board-size="9">
				<div ng-repeat="row in sudokuBoard track by $index" ng-init="moveRow=$index" 
				class="row rt-{{$index % 3 == 0}} rb-{{$index == 8}}">
					<div ng-repeat="item in row track by $index" class="cell 
					clb-{{$index % 3 == 0}} crb-{{$index == 8}}">
					    <input type="text" id="cell[{{moveRow}}][{{$index}}]" name="cell[{{moveRow}}][{{$index}}]" ng-model="item" value="{{item}}"
					    	class="input-cell" ng-change="isValidateNumber(moveRow, $index, item)" 
					    	ng-disabled="{{item>0}}" maxlength="1" only-digits>
					</div>
				</div>
				<button class="btn-new" ng-click="SudokuCtrl.activate()">New Game</button>
			</div>
		</div>
		<section>
		</section>
		<footer>
			"Make by Paola Zarate — Front End Developer" 
		</footer>
    </div>
</body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/SudokuController.js"></script>
<script type="text/javascript" src="js/SudokuService.js"></script>
<script type="text/javascript" src="js/directives.js"></script>
</html>